body{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
input{
    margin: 5px;
    padding: 10px;
    width: 50%;
    font-size: 15px;
    border-radius: 15px;
}
.nav-bar{
    background-color: black;
    color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    height: 80px;
}  


.opciones{
  background-color: black;
  color:#fff;
}

.opciones li{
    display:inline-block;
    color:#fff;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    list-style: none;
    margin: 2px;
    padding: 5px;
    grid-column: auto;
}
.opciones a{
    margin: 5px;
    padding: 25px;
    color:#fff;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-items: center;

}

/*Menu desplegable*/

.opciones ul {
  list-style: none;
  padding: 0;
}

#menu-hamburguesa {
  position: relative;
}

.toggle-categorias {
  cursor: pointer;
}


.categorias-menu.oculto {
  display: none;
}


.categorias-menu {
  display: flex;
  flex-direction: column; 
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.categorias-menu li {
  padding: 8px 0;
  display: block;
  margin-bottom: 5px;
}

.categorias-menu li:hover {
  background-color: #f0f0f0;
}

.cartel-rojo{
    border-radius: 30px;
    padding: auto;
    margin:auto;
    padding: 10px;
    width: 60%;
    height: 500px;
    border: 2px solid black;
    background-color: #FAEBD7;
    font-family: Arial, Helvetica, sans-serif;
    color: #0a100d;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.iconos{
    text-align: center;
    justify-content: center;
}
.iconos img{
    width: 70px;
    height: 70px;
}
.iconos p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Datos de las cards*/
.card {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    --main-focus: #2d8cf0;
    width: 230px;
    height: 300px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  

  
.card-img{
    width: 100%;           
    height: 150px;         
    object-fit: cover;     
    border-radius: 1rem;   
    margin-bottom: 10px;
}
  
  .card-title {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
  }

  
  .card-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
  }
  
  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }
  
  .card-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
  }
  
  .card-price span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
  }
  
  .card-btn {
    height: 35px;
    background: #DC143C;
    /* var(--bg-color) */
    /* border: 3px solid rgba(218, 207, 207, 0.856); */
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
  }
  
  .card-btn svg {
    width: 100%;
    height: 100%;
 
    fill: #fff ;
    /* var(--main-color) */
    transition: all 0.3s;
  }
  
  .card-img:hover {
    transform: translateY(-3px);
  }
  
  .card-btn:hover {
    border: 2px solid #fff;
  }
  
  .card-btn:hover svg {
    fill: #fff;
  }
  
  .card-btn:active {
    transform: translateY(3px);
  }

  #all-products {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; 
    max-width: 100%; 
    margin: 0 auto; 
    padding: 20px;
}

#card-container .card {
    width: 100%; 
    height: auto;
}


@media (max-width: 1300px) {
    #all-products {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    }
}


@media (max-width: 992px) {
    #all-products {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    }
}


@media (max-width: 768px) {
    #all-products {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    }
}


@media (max-width: 480px) {
    #all-products {
        grid-template-columns: 1fr; /* 1 columna */
    }
}